body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230625/pngtree-d-render-of-stopwatch-and-timer-icon-with-clouds-on-blue-image_3678155.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 44px;
    font-weight: 800;
    font-family:  Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    font-style: oblique;
    transition: 2s;
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    padding: 30px;
}
#display{
    font-size: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 800;
    margin-bottom: 10%;
    margin-top: 10%;
    transition: 2s;
}
#ctrl-btns button{
    font-size: 28px;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 1s ease;
}
#btn1{
    border: none;
    border-color: white;
    background-color: rgb(42, 168, 42);
}
#btn1:hover{
    background-color: rgb(50, 241, 50);
}
#btn2{
    border: none;
    border-color: white;
    background-color:rgba(235, 11, 11, 0.945);
    transition: 2s;
}
#btn2:hover{
    background-color: rgba(255, 0, 0, 0.801);
    transition: 2s;
}
#btn3{
    border: none;
    border-color: white;
    background-color:rgba(255, 255, 0, 0.979);
}
#btn3:hover{
    background-color:rgb(99, 211, 255);
    transition: 2s;
}